.wrap-list-articles{
     margin-left: -8%;
    .list-articles{
        .loading{
            margin-top: 5%;
            margin-bottom: 5%;  
        }
        width: 40%;
        margin: 0 auto;
    }
}

