.nav-wrapper{
    background-color: #dddddd;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    position: fixed;
    width: 100%;
    z-index: 100;
    .header{
        position: relative;
        .header__wrapp-logo{
            position: absolute;
            width: 15%;
            float: left;
            .wrapp-logo__wrapper-logo{
                float: right;
                .logo-ar{
                    width: 100%; 
                } 
            } 
        }

       .header__wrapp-form-search{
            width: 70%;
            float: right;
            position: relative;
            .wrapper-form{
                .form{
                    .input{
                        border: 0px;
                        border-color: #dddddd;
                        width: 60%;
                        height: 35px;
                        margin-right: -3px;
                        padding: 0.5%; 
                    }
                   .btn{
                        border: 0px;
                        color: #dddddd;
                        text-transform: uppercase; 
                   }
                   .btn-search{
                        padding: 0.76%;
                        background-color: #A91B28; 
                   } 
                } 
            }
            .search-list{
                width: 59.5%;
                position: absolute;
                background: #fff;
                margin-top: 0px;
                padding-top: 1%;
                padding-bottom: 1%;
                padding-left: 0.5%;
                z-index: 10;
                li{
                    margin-top: 1%;
                    margin-bottom: 2%;
                    a{
                        color: #000000;
                        &:hover{
                            color: #A91B28; 
                       } 
                    }
                }
                 
            }
       }
       
    }
}
