.category-related-content{
    position: fixed;
    width: 20%;
    margin-top: 30%;
    background: #fff;
    padding: 1%;
    border: 1px solid #e4e4e4;
    .head{
        margin-top: 5%;
        margin-bottom: 5%;
        h1{
            text-transform: uppercase;
            text-align: center;
            color: #595959; 
        } 
    }
    .body{
        ul{
            li{
                margin-top: 2%;
                padding: 0.5%;
                transform: translateZ(0);
                transition: transform 0.25s ease-out;
                a{
                    text-decoration: none;
                    color: #595959;
                    &:hover{
                        color: #A91B28; 
                    }  
                }
               &:hover{ 
                    transform: scale(1.05); 
               } 
            } 
        } 
    }
}
