$small-desktop: 1351px;
$medium-desktop: 1024px;
$large-desktop: 1400px;
$handheld: 768px;
$handhelds-landscape: 1024px;
$mobile: 640px;
$mobile-landscape: 480px;

@media screen and (min-width: $small-desktop) {
    
    .category-related-content{
       width: 20%; 
    }
}

@media screen and (min-width: $medium-desktop) {
    
    .category-related-content{
       width: 20%; 
    }
}
